<!-- TODO Não permitir edição do texto (1, 2, 3...) -->
<!-- TODO Mudar cor da seção ao ser marcada -->

<div class="hidden">
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" id="area0" value="option1"> Area 0
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" id="area1e" value="option1"> Area 1 - Esquerda
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" id="area2e" value="option1"> Area 2 - Esquerda
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" id="area3e" value="option1"> Area 3 - Esquerda
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" id="area4e" value="option1"> Area 4 - Esquerda
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" id="area5e" value="option1"> Area 5 - Esquerda
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" id="area6e" value="option1"> Area 6 - Esquerda
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" id="area1d" value="option1"> Area 1 - Direita
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" id="area2d" value="option1"> Area 2 - Direita
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" id="area3d" value="option1"> Area 3 - Direita
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" id="area4d" value="option1"> Area 4 - Direita
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" id="area5d" value="option1"> Area 5 - Direita
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" id="area6d" value="option1"> Area 6 - Direita
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" id="area10" value="option1"> Area 10
    </label>
  </div>
</div>


<center><div class="container-fluid inline-block">
  <svg version="1.1" id="Hoof-Bottom" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-50 0 500 396.97" xml:space="preserve">
    <g>
      <a>
        <path id="zone0"
        fill="none"
        d="M247.275,131.017h-41.912l0,0c-1.44,10.413-3.581,21.889-6.21,34.138c-1.183,5.514-1.892,11.688-2.218,18.493
        l0,0l0,0c-1.169,24.368,3.233,55.645,8.014,85.991l-0.026-0.056c7.305,46.369,17.038,90.641,14.996,102.218
        c-2.251,12.768-9.288,17.829-16.923,19.242h46.646c-7.635-1.414-14.672-6.474-16.923-19.242
        c-2.042-11.577,7.691-55.849,14.996-102.218l-0.026,0.056c4.781-30.346,9.183-61.624,8.014-85.991l0,0l0,0
        c-0.327-6.804-1.035-12.978-2.218-18.493C250.856,152.906,248.714,141.43,247.275,131.017L247.275,131.017z"></path>
        <text transform="matrix(1 0 0 1 220.2278 222.2896)" font-family="source-sans-pro, asap, arimo, actor, GillSans,
        'Gill Sans MT', sans-serif;" font-size="22">0</text>
      </a>
    </g>
    <g>
      <a>
        <path id="zone1e"
        fill="#EBE1C3"
        stroke="#594A42"
        stroke-width="1.5"
        stroke-linecap="round"
        d="M204.687,269.883
        c7.305,46.369,17.038,90.641,14.996,102.218c-3.406,19.323-17.775,20.993-28.588,19.086c-9.548-1.683-47.799-25.188-87.286-62.399
        l16.326-19.664l0,0c21.44,21.815,41.651,38.992,55.046,48.659c13.37,9.651,25.417-1.076,25.555-8.106
        c0.341-17.485-5.845-77.239-5.845-77.239L204.687,269.883"></path>
        <text transform="matrix(1 0 0 1 190.2178 382.6956)" font-family="source-sans-pro, asap, arimo, actor, GillSans,
        'Gill Sans MT', sans-serif;" font-size="22">1</text>
      </a>
    </g>
    <g>
        <path id="zone1d"
        fill="#EBE1C3"
        stroke="#594A42"
        stroke-width="1.5"
        stroke-linecap="round"
        d="M247.902,270.349
        c-7.305,46.369-16.96,90.075-14.917,101.652c3.406,19.323,17.775,20.993,28.588,19.086c9.548-1.683,47.799-25.188,87.286-62.399
        l-16.326-19.664l0,0c-21.44,21.815-41.651,38.992-55.046,48.659c-13.37,9.651-25.417-1.076-25.555-8.106
        c-0.341-17.485,5.845-77.239,5.845-77.239l-10.057-2.622"></path>
        <text transform="matrix(1 0 0 1 249.2178 382.6956)" font-family="source-sans-pro, asap, arimo, actor, GillSans,
        'Gill Sans MT', sans-serif;" font-size="22">1</text>
    </g>
    <g>
      <a>
        <path id="zone2e"
        fill="#EBE1C3"
        stroke="#594A42"
        stroke-width="1.5"
        stroke-linecap="round"
        d="M103.927,328.788l16.326-19.664l0,0
        c-27.535-28.017-57.095-63.684-76.847-100.921l0.493,0.34c-6.543,6.464-13.775,11.04-20.421,14.51l-0.003-0.006
        C42.835,263.886,73.742,300.342,103.927,328.788"></path>
        <text transform="matrix(1 0 0 1 67.4153 283.2662)" font-family="source-sans-pro, asap, arimo, actor, GillSans,
        'Gill Sans MT', sans-serif;" font-size="22">2</text>
      </a>
    </g>
    <g>
      <a>
        <path id="zone2d"
        fill="#EBE1C3"
        stroke="#594A42"
        stroke-width="1.5"
        stroke-linecap="round"
        d="M348.74,328.688l-16.326-19.664l0,0
        c27.535-28.017,57.095-63.684,76.847-100.921l-0.493,0.34c6.543,6.464,13.775,11.04,20.421,14.51l0.003-0.006
        C409.833,263.786,378.925,300.242,348.74,328.688"></path>
        <text transform="matrix(1 0 0 1 373.9758 283.2662)" font-family="source-sans-pro, asap, arimo, actor, GillSans,
        'Gill Sans MT', sans-serif;" font-size="22">2</text>
      </a>
    </g>
    <g>
      <a>
        <path id="zone3e"
        fill="#EBE1C3"
        stroke="#594A42"
        stroke-width="1.5"
        stroke-linecap="round"
        d="M23.479,223.053
        c15.701-8.197,34.667-22.567,40.106-53.412c5.439-30.843-11.254-58.536-47.263-90.658l0,0C9.806,94.884,9.408,95.919,6.03,115.079
        c-6.632,37.616,1.478,74.283,17.446,107.969L23.479,223.053z"></path>
        <text transform="matrix(1 0 0 1 25.6321 166.0006)" font-family="source-sans-pro, asap, arimo, actor, GillSans,
        'Gill Sans MT', sans-serif;" font-size="22">3</text>
      </a>
    </g>
    <g>
      <a>
        <path id="zone3d"
        fill="#EBE1C3"
        stroke="#594A42"
        stroke-width="1.5"
        stroke-linecap="round"
        d="M429.188,222.953
        c-15.701-8.197-34.667-22.567-40.106-53.412c-5.439-30.843,11.254-58.536,47.263-90.658l0,0
        c6.515,15.901,6.913,16.936,10.291,36.095c6.632,37.616-1.478,74.283-17.446,107.969L429.188,222.953z"></path>
        <text transform="matrix(1 0 0 1 414.8701 166.0007)" font-family="source-sans-pro, asap, arimo, actor, GillSans,
        'Gill Sans MT', sans-serif;" font-size="22">3</text>
      </a>
    </g>
    <g>
      <a>
        <path id="zone4e"
        fill="#EBE1C3"
        stroke="#594A42"
        stroke-width="1.5"
        stroke-linecap="round"
        d="M48.945,113.986L48.945,113.986
        c13.685-12.39,78.332-39.647,156.984,17.556l0,0c-1.44,10.413-3.581,21.889-6.21,34.138c-1.183,5.514-1.892,11.688-2.218,18.493
        l0,0c-11.636,19.336-43.259,68.341-66.658,64.215c-23.397-4.126-51.852-38.464-72.594-60.763l0,0
        c2.309-5.278,4.146-11.237,5.335-17.985C66.968,150.455,61.962,132.528,48.945,113.986L48.945,113.986z"></path>
        <text transform="matrix(1 0 0 1 122.1203 175.3521)" font-family="source-sans-pro, asap, arimo, actor, GillSans,
        'Gill Sans MT', sans-serif;" font-size="22">4</text>
      </a>
    </g>
    <g>
      <a>
        <path id="zone4d"
        fill="#EBE1C3"
        stroke="#594A42"
        stroke-width="1.5"
        stroke-linecap="round"
        d="M403.722,113.886L403.722,113.886
        c-13.685-12.39-78.332-39.647-156.984,17.556l0,0c1.44,10.413,3.581,21.889,6.21,34.138c1.183,5.514,1.892,11.688,2.218,18.493l0,0
        c11.636,19.336,43.259,68.341,66.658,64.216c23.397-4.126,51.852-38.464,72.594-60.763l0,0c-2.309-5.278-4.146-11.237-5.335-17.985
        C385.699,150.355,390.705,132.428,403.722,113.886L403.722,113.886z"></path>
        <text transform="matrix(1 0 0 1 319.3938 175.3521)" font-family="source-sans-pro, asap, arimo, actor, GillSans,
        'Gill Sans MT', sans-serif;" font-size="22">4</text>
      </a>
    </g>
    <g>
      <a>
        <path id="zone5e"
        fill="#EBE1C3"
        stroke="#594A42"
        stroke-width="1.5"
        stroke-linecap="round"
        d="M204.883,270.449
        c-4.781-30.346-8.555-61.833-7.386-86.2l-0.159-0.023l0,0c-11.636,19.336-43.259,68.341-66.658,64.215
        c-23.397-4.126-51.852-38.464-72.594-60.763l0.163-0.052c-3.777,8.637-8.817,15.452-14.35,20.917l-0.162,0.16
        c35.13,66.232,101.294,127.497,131.893,149.581c13.37,9.651,25.417-1.076,25.555-8.106c0.341-17.485-5.845-77.239-5.845-77.239
        L204.883,270.449"></path>
        <text transform="matrix(1 0 0 1 156.6789 299.2076)" font-family="source-sans-pro, asap, arimo, actor, GillSans,
        'Gill Sans MT', sans-serif;" font-size="22">5</text>
      </a>
    </g>
    <g>
      <a>
        <path id="zone5d"
        fill="#EBE1C3"
        stroke="#594A42"
        stroke-width="1.5"
        stroke-linecap="round"
        d="M247.784,270.349
        c4.781-30.346,8.555-61.833,7.386-86.2l0.159-0.023l0,0c11.636,19.336,43.259,68.341,66.658,64.216
        c23.397-4.126,51.852-38.464,72.594-60.763l-0.163-0.052c3.777,8.637,8.817,15.452,14.35,20.917l0.162,0.16
        c-35.13,66.232-101.294,127.497-131.893,149.581c-13.37,9.651-25.417-1.076-25.555-8.106c-0.341-17.485,5.845-77.239,5.845-77.239
        l-10.057-2.622"></path>
        <text transform="matrix(1 0 0 1 278.3528 299.2076)" font-family="source-sans-pro, asap, arimo, actor, GillSans,
        'Gill Sans MT', sans-serif;" font-size="22">5</text>
      </a>
    </g>
    <g>
      <a>
        <path id="zone6e"
        fill="#EBE1C3"
        stroke="#594A42"
        stroke-width="1.5"
        stroke-linecap="round"
        d="M205.813,131.727
        c12.036-87.05-16.874-112.712-76.799-123.279C78.935-0.382,36.83,28.967,16.322,79.019l0,0
        c13.609,12.14,24.607,23.702,32.516,34.967l0,0c13.685-12.39,78.324-39.749,156.976,17.454"></path>
        <text transform="matrix(1 0 0 1 114.1926 61.5865)" font-family="source-sans-pro, asap, arimo, actor, GillSans,
        'Gill Sans MT', sans-serif;" font-size="22">6</text>
      </a>
    </g>
    <g>
        <path id="zone6d"
        fill="#EBE1C3"
        stroke="#594A42"
        stroke-width="1.5"
        stroke-linecap="round"
        d="M246.854,131.627
        c-12.036-87.05,16.874-112.712,76.799-123.279c50.08-8.83,92.184,20.519,112.693,70.571l0,0
        c-13.609,12.14-24.607,23.702-32.516,34.967l0,0c-13.685-12.39-78.324-39.749-156.976,17.454"></path>
        <text transform="matrix(1 0 0 1 326.5852 61.5865)" font-family="source-sans-pro, asap, arimo, actor, GillSans,
        'Gill Sans MT', sans-serif;" font-size="22">6</text>
    </g>
    <g>
      <a>
        <path id="zone10" fill="none" d="M246.716,131.719C234.68,44.669,263.59,19.007,323.515,8.441c5.37-0.947,10.649-1.455,15.819-1.545
        l-226.004-0.1c5.17,0.09,10.449,0.598,15.819,1.545c59.925,10.566,88.835,36.229,76.799,123.279L246.716,131.719z"></path>
        <text transform="matrix(1 0 0 1 214.4602 50.9381)" font-family="source-sans-pro, asap, arimo, actor, GillSans,
        'Gill Sans MT', sans-serif;" font-size="22">10</text>
      </a>
    </g>
  </svg>

  <svg version="1.1" id="Hoof-Sides" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 452 206.493" xml:space="preserve">
  	<g>
  		<a href="#Zone7" xlink:href="#Zone7">
  		<polygon fill="#EBE1C4" stroke="#594A42" stroke-width="1.5" points="303.822,157.81 354.26,88.957 309.802,70.144 225.95,157.623"></polygon>
  		<text transform="matrix(1 0 0 1 294.7537 126.2264)" font-family="source-sans-pro, asap, arimo, actor, GillSans,
  			'Gill Sans MT', sans-serif;" font-size="22">7</text>
      	</a>
  	</g>
  	<g>
  		<a href="#Zone8" xlink:href="#Zone8">
  		<path fill="#EBE1C4" stroke="#594A42" stroke-width="1.5" d="M426.052,119.069L354.26,88.957l-51.062,68.852l0,0h81.527
  			C405.744,157.81,427.24,139.321,426.052,119.069z"></path>
  		<text transform="matrix(1 0 0 1 366.9958 131.3416)" font-family="source-sans-pro, asap, arimo, actor, GillSans,
  			'Gill Sans MT', sans-serif;" font-size="22">8</text>
      	</a>
  	</g>
  	<g>
  		<a href="#Zone9" xlink:href="#Zone9">
  		<path fill="#EBE1C4" stroke="#594A42" stroke-width="1.5" d="M356.538,9.5c-28.781,40.524-28.629,40.09-46.735,60.644l0,0
  			l116.293,49.214l0,0c-0.267-4.512-6.456-52.13,19.043-66.449"></path>
  		<text transform="matrix(1 0 0 1 375.6638 63.7694)" font-family="source-sans-pro, asap, arimo, actor, GillSans,
  			'Gill Sans MT', sans-serif;" font-size="22">9</text>
      	</a>
  	</g>
  	<g>
  		<a href="#Zone11" xlink:href="#Zone11">
  		<polygon fill="#EBE1C4" stroke="#594A42" stroke-width="1.5" points="87.694,157.937 139.587,88.006 94.235,68.735 8.009,157.937
  				87.694,157.937 		"></polygon>
  		<text transform="matrix(1 0 0 1 74.7778 126.0028)" font-family="source-sans-pro, asap, arimo, actor, GillSans,
  			'Gill Sans MT', sans-serif;" font-size="22">11</text>
      	</a>
  	</g>
  	<g>
  		<a href="#Zone12" xlink:href="#Zone12">
  		<path fill="#EBE1C4" stroke="#594A42" stroke-width="1.5" d="M206.943,118.297l-67.386-30.294l0,0l-51.863,69.933l79.826-0.028
  			C187.6,155.894,208.271,141.258,206.943,118.297z"></path>
  		<text transform="matrix(1 0 0 1 147.021 132.3641)" font-family="source-sans-pro, asap, arimo, actor, GillSans,
  			'Gill Sans MT', sans-serif;" font-size="22">12</text>
      	</a>
  	</g>
  	<g>
  		<line fill="none" stroke="#594A42" stroke-linejoin="round" stroke-dasharray="6,2.5" x1="54.352" y1="156.642" x2="144.965" y2="135.23"></line>
  	</g>
  	<text transform="matrix(1 0 0 1 31.4893 189.1903)" font-family="source-sans-pro, asap, arimo, actor, GillSans,
  			'Gill Sans MT', sans-serif;" font-size="22"></text>
  	<text transform="matrix(1 0 0 1 231.4893 189.1903)" font-family="source-sans-pro, asap, arimo, actor, GillSans,
  			'Gill Sans MT', sans-serif;" font-size="22"></text>
  	</svg></center>
<br><br><br>

    <center><button class="jubotrom btn btn-success" href="#">Registrar locais das lesões</button>
    <button class="jubotrom btn btn-warning" href="#">Editar locais das lesões</button>
    <button class="jubotrom btn btn-danger" href="#">Desfazer locais das lesões</button></center>
<br><br>
