<section class="content-header">
	<h1>Dashboard <small><%= title_header %></small></h1>
	<ol class="breadcrumb">
		<% path.each do |pat| %>
			<li><a href="#"><%= pat %></a></li>
		<% end %>
	</ol>
</section>