<nav class="navbar navbar-expand-lg navbar-inverse bg-inverse">
<a style="color:white" class="navbar-brand centered text-center" href="#">Sistema de Casqueamento</a>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
 <ul>
   <li>
     <a class="nav-link" href="#">Menu <span class="sr-only">(current)</span></a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="#">Acens</a>
   </li>
 </ul>
 <form class="form-inline my-2 my-lg-0">
   <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
   <button class="btn btn-danger my-2 my-sm-0" type="submit">Pesquisar</button>
 </form>
</div>
</nav>
